<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <nav style="
        background-color: white;
        border: 2px solid rgba(255, 255, 255, 0.2);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      " class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'login' %}" style="font-size: 1.5rem; font-weight: 600">AgroYdrata</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Entrar</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="card container reset-password-content mt-4">
    <div class="card-body">
      <h3>Redefinição de senha completa</h3>

      <p>Sua senha foi definida. Você pode prosseguir e se autenticar agora.</p>
      <br>
      <a id="link-login" href="{% url 'login' %}">Acessar minha conta</a>
    </div>

  </div>
</body>

</html>